<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Brewer</title>
</head>
<body>
	<h1>Olá, Thymeleaf is Working!</h1>

<!-- Caso a mensagem de erro precise estar fora do formulário
	<div th:each="erro: ${#fields.detailedErrors('${cerveja.*}')}">
			<span th:text="${erro.message}"></span>
	</div> 
-->

	<form method="POST" th:object="${cerveja}">
	
	<div th:each="erro: ${#fields.detailedErrors()}">
		<span th:text="${erro.message}"></span>
	</div>
	<span th:text="${mensagem}"></span>	
	<br>
		<label for="sku">SKU</label> 
		<input id="sku" type="text" th:field="*{sku}">		
		<br> 
		<label for="nome">Nome </label>
		<input id="nome" type="text" th:field="*{nome}">		
		<br>
		
		<label for="descricao">Descrição</label>
		<textarea id="descricao"  th:field="*{descricao}"></textarea>		
		<br>    
		<input id="nome" type="submit" value="Salvar">
	</form>
</body>
</html>