<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Brewer</title>
</head>
<body>
	<h1>Thimyleaf is Working!</h1>

	<form method="POST">
	<span th:text="${mensagem}"></span>
	<br>
		<label for="sku">SKU</label> 
		<input id="sku" type="text" name="sku">		
		<br> 
		<label for="nome">Nome</label>
		<input id="nome" type="text" name="nome">
		<br>  
		<input id="nome" type="submit" value="Salvar">
	</form>
</body>
</html>